$dark-blue: #222831;
$black: #000;
$white: #fff;
$gray: #d3d3d3;
$deep-dark-blue: #006;

// Primary
$purple: #535bf2;
$purple-dark: darken($purple, 10%);
$purple-light: lighten($purple, 10%);

// Secondary
$turquoise: #00adb5;
$turquoise-dark: darken($turquoise, 10%);
$turquoise-light: lighten($turquoise, 10%);

// Danger
$red: #ff4c4c;
$red-dark: darken($red, 10%);
$red-light: lighten($red, 10%);

// Overlays
$light-overlay: rgba(
  $color: $white,
  $alpha: 50%,
);
$dark-overlay: rgba(
  $color: $black,
  $alpha: 50%,
);
$dark-blue-overlay: rgba(
  $color: $dark-blue,
  $alpha: 50%,
);
