$color-header-footer-bg: #222831; // Header and footer background color
$color-content-bg: #393e46; // Content background color
$input-border-color: #d3d3d3; // Input border color
$color-text: #eeeeee; // Text color
$modal-overlay: rgba(0, 0, 0, 0.5);

// Button color
$color-button: #535bf2;
$color-button-hover: darken($color-button, 10%);
$color-button-active: lighten($color-button, 10%);

// Link color
$color-link: #00adb5;