$color-header-footer-bg: #222831;  // Header and footer background color
$color-content-bg: #393E46;        // Content background color

$color-link: #00ADB5;              // Link color
$color-button: #535bf2;            // Button color
$color-text: #EEEEEE;              // Text color
