@import 'variables';
@import 'breakpoints';
@import 'palette';
@import 'zIndex';
@import 'typography';

.container {
  max-width: 1280px;
  margin: 0 auto;

  @media (max-width: 1280px) {
    margin: 0 16px;
  }
}


.m-0 {
  margin: 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.capitalize-first-letter::first-letter {
  text-transform: uppercase;
}