@import "variables";
@import "breakpoints";
@import "palette";
@import "zIndex";
@import "typography";

a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: $color-link;
}

a:hover {
  color: $color-button;
}

button {
  font-weight: 500;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;

  &.outlined {
    border: 2px solid $color-button;
    background: transparent;
    color: $color-button;
  }

  &.filled {
    background: $color-button;
    color: white;
    border: none;
  }
}

input {
  border: 2px solid $input-border-color;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
